@page "/finance"
@using hub.Client.ViewModels.Finance
@inject IFinanceViewModel FinanceViewModel
@implements IDisposable

<h2 class="text-center p-3">Finance</h2>

<div class="d-sm-flex">
	<div class="flex-grow-1 px-3 text-center">
		<div class="card p-3">
			<div class="d-flex justify-content-between">
				<h1>Balance: @FinanceViewModel.Balance</h1>
				<h1>Free To Spend: @FinanceViewModel.FreeToSpend</h1>
			</div>
		</div>
		<div class="card table-responsive p-3">
			<div class="d-sm-flex">
				<h3 class="px-3">Import: </h3>
				<InputFile class="flex-grow-1 px-3" OnChange="FinanceViewModel.Import">Import</InputFile>
			</div>
			<div class="d-ms-flex">
				<label for="displayDate">Display Date:</label>
				<InputDate id="displayDate" @bind-Value="FinanceViewModel.SelectedDate"/>
			</div>
			<div class="d-ms-flex">
				<label for="displayMonth">Hide other months:</label>
				<input id="displayMonth" type="checkbox" @bind="FinanceViewModel.OnlyDisplayMonth"/>
				<label for="displayUncategorized">Hide categorized:</label>
				<input id="displayUncategorized" type="checkbox" @bind="FinanceViewModel.OnlyDisplayUncategorized"/>
			</div>
			@if (FinanceViewModel.Transactions.Count > 0)
			{
				<table class="table table-striped m-0">
					<tbody>
						@foreach (var transaction in FinanceViewModel.Transactions)
						{
							<tr>
								<td>
									<h3>@transaction.PostingDate.ToShortDateString()</h3>
								</td>
								<td>
									<h3>@transaction.Description</h3>
								</td>
								<td>
									<h3>@transaction.Amount</h3>
								</td>
								<td>
									<select @onchange="args => FinanceViewModel.ChangeTransactionCategory(transaction, args.Value)">
										<option value="-1" selected="@(transaction.Category == null)">Empty</option>
										@foreach (var category in FinanceViewModel.Categories)
										{
											<option value="@category.Id" selected="@(transaction.Category?.Id == category.Id)">@category.Name</option>
										}
									</select>
								</td>
								<td>
									<button class="btn btn-warning" @onclick="() => FinanceViewModel.ToggleHideTransaction(transaction)">@(transaction.Hidden ? "Show" : "Hide")</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
	</div>
	<div class="float-sm-end px-3 text-center">
		<div class="card">
			<div class="container text-center p-3">
				<h3>Categories</h3>
				<button class="btn btn-primary oi oi-plus" style="width: 45px" @onclick="FinanceViewModel.AddCategory"></button>
			</div>
		</div>
		@if (FinanceViewModel.Categories.Count > 0)
		{
		<table class="table table-striped m-0">
			<tbody>
			@foreach (var category in FinanceViewModel.Categories)
			{
				@if (!category.Editing)
				{
					<tr @onclick="() => category.Editing = true">
						<td>
							<h5>@category.Name</h5>
						</td>
						<td>
							<h5>@($"{category.Budget:C}")</h5>
						</td>
						<td>
							<h5>@FinanceViewModel.GetBalanceForCategory(category)</h5>
						</td>
					</tr>
				}
				else
				{
					<tr @onblur="() => category.Editing = false">
						<td>
							<input type="text" @bind-value=@category.Name/>
						</td>
						<td>
							<input type="number" @bind-value=@category.Budget step="1" min="0" max="10000"/>
						</td>
						<td>
							<button class="btn btn-success oi oi-check" style="width: 45px" @onclick="() => FinanceViewModel.SaveCategory(category)"></button>
						</td>
						<td>
							<button class="btn btn-warning oi oi-action-undo" style="width: 45px" @onclick="() => FinanceViewModel.CancelEditingCategory(category)"></button>
						</td>
						<td>
							<button class="btn btn-danger oi oi-x" style="width: 45px" @onclick="() => FinanceViewModel.DeleteCategory(category)"></button>
						</td>
					</tr>
				}
			}
			</tbody>
		</table>
		}
	</div>
</div>
@code
{
	protected override void OnInitialized()
	{
		FinanceViewModel.StateChanged += StateHasChanged;
		FinanceViewModel.Initialize();
		base.OnInitialized();
	}

	public void Dispose() {
		FinanceViewModel.StateChanged -= StateHasChanged;
	}
}
